bitprim_old/
bitprim/bitprim.egg-info/
bitprim/dist/
bitprim/archive/
bitprim/blockchain/
bitprim/build/

bitprim/bitprim.pyc

examples/blockchain/
examples/debug.log
examples/error.log
examples/hosts.cache

bitprim-native/bitprim-node-cint/

bitprim/__pycache__/
bitprim/debug.log
bitprim/error.log
bitprim/hosts.cache
bitprim/bitprim-node-cint.dll
bitprim/bx-windows-x64-icu.exe
bitprim/juan.txt
bitprim/blockchain - Copy/

bitprim-native/bitprim_native.egg-info/
bitprim-native/bitprim_native.so
bitprim-native/build/
bitprim-native/dist/
bitprim_non_native/
